P{
    font-weight:200;
}


/****************************navbar and tag line************************/
.navbar{
    position: absolute;
    z-index: 10000;
    background-color: transparent;
    border: none;
    right: 0;
    pading: 1em;
}

.navbar .navbar-nav>li>a{
    color: aqua;
    border-bottom: solid 1px orange;
    
}

.navbar .navbar-nav>li>a:hover{
    color: #F22E10
}

#tagline { 
    position: absolute;
    width: 100vw;
    padding: 5em;
    z-index: 100;
}

/**************************************landing page*****************************/
#bg-image{
    margin: 15px 0; /* top righ bottom*/
    background-image: url(img/a-2.jpeg);
    height: 100vh;
    background-size: cover;
}
    
.pink {
    color:pink;
}

/*body*/
H1:hover {
  color: blue;   
}



p:hover {
    color: yellowgreen;    
}
/*********************************work page*************************/
#work #portfolio img:hover{
    opacity: 0.4;
    filter: blur(0.5);
}

#work #portfolio img{
    transition: 2.0s;
    transition-timing-function: ease-in;
    
}

#work .bg-orange{
    background-color: rgba(255, 192, 203, 100);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
    
    
}

#work .bg-blue{
    background-color: blue;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#work .bg-yellow{
    background-color: yellow;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#work .bg-red{
    background-color: red;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
    
}
#work .bg-brown{
    background-color: brown;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#work .bg-green{
    background-color: green;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#work .bg-hotpink{
    background-color: hotpink;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#work .bg-gray{
    background-color: gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#work .bg-pink{
    background-color: pink;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#work
#work #myCarousel{
    height: 100vh;
    overflow: hidden;
}

#work #myCarousel img{
    width: 100vw;
}
/**********************************contact**************************/
#page-contact #address{
    margin-top: 100px;
/*    margin-top: 10%;*/
    margin-left: 10%;
}
#contact #mymap{
    margin-top: 200px;
}